<div class="container px-4 py-8 mx-auto">
  <h1 class="section-title">Mapa</h1>

  <div class="flex flex-col md:grid md:grid-rows-[1fr_10fr] md:grid-cols-[4fr_1fr] gap-4">
    <section class="flex justify-center row-start-1 col-start-1">
      <app-search-bar (search)="onSearch($event)"></app-search-bar>
    </section>

    <section class="flex justify-center items-stretch md:row-start-2 col-start-1 w-full h-[33vh] md:h-[calc(90%-2rem)]">
      <div class="w-full h-full">
        <app-location-map></app-location-map>
      </div>
    </section>

    <section class="col-start-1 md:col-start-2 md:row-span-2 flex justify-center">
      <app-list-view [placeName]="searchedPlace"></app-list-view>
    </section>
  </div>
</div>
