<div class="bg-[#F5F6FA] w-screen h-[91vh] overflow-hidden">
    
    <h2 class="bg-[#F5F6FA] h-10 ml-25 font-bold text-3xl"><br>Mapa</h2>

    <div class="h-screen grid grid-rows-[1fr_10fr] grid-cols-[5fr_1fr] gap-4">
        
        <section class="flex justify-center items-end row-start-1 col-start-1 ">
            <app-search-bar></app-search-bar>
        </section>

        <section class="flex justify-center items-center row-start-2 col-start-1 w-full h-[calc(90%-2rem)]">
            <app-location-map></app-location-map>
        </section>
        
        <section class="col-start-2 row-span-2">
            <app-list-view></app-list-view>
        </section>
    </div>

</div>
