<h1>Sistema de Gestion de Inventarios Institucionales</h1>
<p>
  Este sistema fue desarrollado como parte del curso de Programación Web, con el
  objetivo de gestionar de manera eficiente los inventarios institucionales,
  facilitando el registro, consulta y administración de insumos y equipos
  utilizados en distintas áreas.
</p>
<h2>Funcionalidades Principales</h2>
<p>
  🛒 Carro de Compras y FacturaciónPermite simular la generación de una factura
  hacia proveedores a través de un carrito de compras que agrupa productos
  requeridos. <br />📦 Módulo de Gestión de Inventarios (CRUD)Ofrece una
  administración completa de productos, permitiendo crear, leer, actualizar y
  eliminar insumos clasificados en las siguientes categorías:
  <li>
    <ul>
      Aseo
    </ul>
    <ul>
      Cocina
    </ul>
    <ul>
      Cuentas de usuario
    </ul>
    <ul>
      Tecnología (computadoras, ratones, etc.)
    </ul>
    <ul>
      Aulas y oficinas (sillas, mesas)
    </ul>
    <ul>
      Servicios básicos físicos
    </ul>
  </li>
  <br />🤖 Chatbot de Inventario Asistente automatizado que permite a los
  usuarios consultar de forma rápida si un producto o recurso está disponible en
  el inventario. <br />🔍 Mashup de Sugerencias Visualización complementaria que
  compara el inventario actual con fuentes externas o necesidades comunes,
  sugiriendo posibles adquisiciones adicionales.
</p>
