<div class="table-container w-full">
  <div class="table-controls w-full">
    <div class="search-container w-full">
      <input type="text" class="border-1 rounded-sm" [(ngModel)]="searchQuery" (input)="currentPage = 1" placeholder="Buscar..." />
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th *ngIf="showActions == true" class="text-left w-20">Acción</th>
        <th *ngFor="let col of columns">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of paginatedData">
        <td *ngIf="showActions == true" class="border-b px-4 py-2">
          <div class="flex gap-2">
            <button *ngIf="actions.view == true" class="text-blue-600 hover:underline" (click)="onView(row)">Ver</button>
            <button *ngIf="actions.edit == true" class="text-green-600 hover:underline" (click)="onEdit(row)">Editar</button>
            <button *ngIf="actions.delete == true" class="text-red-600 hover:underline" (click)="onDelete(row)">Eliminar</button>
          </div>
        </td>

        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.type === 'date'; else normalText">
            {{ row[col.key] | date : 'dd/MM/yyyy' }}
          </ng-container>
          <ng-template #normalText>
            {{ row[col.key] }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <span>{{ paginationInfo }}</span>
    <button (click)="prevPage()" [disabled]="currentPage === 1">«</button>
    <button *ngFor="let p of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1" (click)="goToPage(i + 1)">
      {{ i + 1 }}
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">»</button>
  </div>
</div>
