<h1 class="section-title ml-8 pt-8">Items por lugar</h1>
<div class="bg-white rounded-2xl p-4 mx-8">
  <div class="grid grid-cols-12 gap-4">
    <!-- Columna izquierda: Lugar + Item -->
    <div class="col-span-12 md:col-span-6 space-y-4">
      <div class="space-y-2">
        <label class="field-title">Lugar</label>
        <app-dropdown
          class="w-full block"
          [options]="locations"
          [placeholder]="'Lugar'"
          [selectedLabel]="selectedLocation"
          (selectionChange)="onLocationChange($event)"
        ></app-dropdown>
      </div>

      <div class="space-y-2">
        <label class="field-title">Item</label>
        <app-dropdown
          class="w-full block"
          [options]="items"
          [placeholder]="'Item'"
          [selectedLabel]="selectedItem"
          (selectionChange)="onItemChange($event)"
        ></app-dropdown>
      </div>
    </div>

    <!-- Columna derecha: Dropdown que ocupa dos filas de alto -->
    <div class="col-span-12 md:col-span-6">
      <div class="space-y-0">
        <label class="field-title block">Items</label>
        <div class="overflow-auto h-40 w-full">
          <app-check-list></app-check-list>
        </div>
      </div>
    </div>

    <div class="col-span-12 space-y-2 w-full">
      <app-bar-chart
        [title]="'Items por lugar'"
        [xAxisLabel]="'Items'"
        [yAxisLabel]="'Cantidad'"
        [xLabels]="itemsPerLocationXLabels"
        [datasets]="itemsPerLocationDatasets"
      ></app-bar-chart>
    </div>
  </div>
</div>

<h1 class="section-title ml-8 pt-8">Consumo de servicios</h1>
<div class="bg-white rounded-2xl p-4 mx-8">
  <div class="grid grid-cols-12 gap-4">
    <!-- Columna izquierda -->
    <div class="col-span-12 md:col-span-6 space-y-4">
      <!-- Dropdown -->
      <div class="space-y-2">
        <label class="field-title">Lugar</label>
        <app-dropdown
          class="w-full block"
          [options]="locations"
          [placeholder]="'Lugar'"
          [selectedLabel]="selectedLocation"
          (selectionChange)="onLocationChange($event)"
        ></app-dropdown>
      </div>

      <!-- Fecha inicio -->
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-6 space-y-2">
          <label class="field-title">Fecha inicio</label>
          <app-calendar [selectedDate]="servicesConsumpstionDateStart"></app-calendar>
        </div>

        <!-- Fecha fin -->
        <div class="col-span-12 md:col-span-6 space-y-2">
          <label class="field-title">Fecha fin</label>
          <app-calendar [selectedDate]="servicesConsumpstionDateEnd"></app-calendar>
        </div>
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="col-span-12 md:col-span-6">
      <div class="space-y-0">
        <label class="field-title block">Servicios</label>
        <div class="overflow-auto h-40 w-full">
          <app-check-list></app-check-list>
        </div>
      </div>
    </div>

    <div class="col-span-12 space-y-2 w-full">
      <app-line-chart
        [title]="'Consumo de servicios'"
        [xAxisLabel]="'Fecha'"
        [yAxisLabel]="'Cantidad'"
        [xLabels]="servicesConsumptionXLabels"
        [datasets]="servicesConsumptionDatasets"
      ></app-line-chart>
    </div>
  </div>
</div>
