<h1 class="section-title" *ngIf="isCreate">Registro de inventario</h1>
<h1 class="section-title" *ngIf="isEdit">Editar inventario</h1>
<h1 class="section-title" *ngIf="isReadOnly">Detalle del inventario</h1>

<div class="bg-white rounded-2xl p-4 mx-8">
  <div *ngIf="mode == 'create' && editingRow == false" class="flex items-center justify-end">
    <div class="w-12 h-12">
      <app-button class="w-full h-full" [label]="'+'" (clicked)="addToTable()"></app-button>
    </div>
  </div>

  <div *ngIf="!isReadOnly && editingRow == true" class="flex items-center justify-end">
    <div class="w-20 h-12">
      <app-button class="w-full h-full" [label]="'Actualizar'" (clicked)="updateRow()"></app-button>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-4">
    <div class="space-y-2 col-span-12 md:col-span-6">
      <label class="field-title">Lugar</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-12">
          <app-dropdown
            class="w-full block"
            [options]="locations"
            [placeholder]="'Lugar'"
            [readonly]="isReadOnly"
            [selectedLabel]="selectedLocation"
            (selectionChange)="onLocationChange($event)"
          ></app-dropdown>
        </div>
      </div>
    </div>

    <div class="space-y-2 col-span-12 md:col-span-6">
      <label class="field-title">Item</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-12">
          <app-dropdown
            class="w-full block"
            [options]="items"
            [placeholder]="'Item'"
            [readonly]="isReadOnly"
            [selectedLabel]="selectedItem"
            (selectionChange)="onItemChange($event)"
          ></app-dropdown>
        </div>
      </div>
    </div>

    <div class="space-y-2 col-span-12 md:col-span-6">
      <label class="field-title">Estado</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-12">
          <app-dropdown
            class="w-full block"
            [options]="states"
            [placeholder]="'Estado'"
            [readonly]="isReadOnly"
            [selectedLabel]="selectedState"
            (selectionChange)="onStateChange($event)"
          ></app-dropdown>
        </div>
      </div>
    </div>

    <div class="space-y-2 col-span-12 md:col-span-6">
      <label class="field-title">Código base</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-12">
          <app-input-field
            [placeholder]="'Código base'"
            [readonly]="isReadOnly || viewingRow || editingRow"
            (valueChange)="onCodeBaseChange($event)"
            [value]="baseCode"
            [regexExp]="regexCodeBase"
          ></app-input-field>
        </div>
      </div>
    </div>

    <div class="space-y-2 col-span-12 md:col-span-6">
      <label class="field-title">Fecha</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-12">
          <app-calendar [selectedDate]="selectedDate" [readonly]="isReadOnly"></app-calendar>
        </div>
      </div>
    </div>

    <div class="space-y-2 col-span-12 md:col-span-6">
      <label class="field-title">Cantidad</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-12">
          <app-input-field
            [placeholder]="'Cantidad'"
            [readonly]="isReadOnly || viewingRow || editingRow"
            (valueChange)="onQuantityChange($event)"
            [value]="quantity"
            [regexExp]="regexOnlyNumbers"
          ></app-input-field>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mode == 'create'" class="w-full mx-auto px-4 mt-4">
    <div class="w-full justify-center">
      <app-table
        class="w-full"
        [data]="inventoryData"
        [columns]="inventoryColumns"
        [showActions]="true"
        [actions]="{ view: false, edit: true, delete: true }"
        (edit)="onEditInventory($event)"
        (delete)="onDeleteInventory($event)"
      ></app-table>
    </div>
  </div>

  <div *ngIf="!isReadOnly" class="flex h-48 items-center justify-center">
    <div class="w-3xs h-10">
      <app-button class="w-full h-full" [label]="'Guardar'" (clicked)="saveInventory()"></app-button>
    </div>
  </div>
</div>
