<h1 class="ml-2 pt-12 font-bold text-xl" *ngIf="isCreate">Registro de consumo de servicio</h1>
<h1 class="ml-2 pt-12 font-bold text-xl" *ngIf="isEdit">Editar consumo de servicio</h1>
<h1 class="ml-2 pt-12 font-bold text-xl" *ngIf="isReadOnly">Detalle del consumo de servicio</h1>

<div class="bg-white rounded-2xl p-4 mx-8">
  <div *ngIf="mode == 'create' && selectedRow == null" class="flex items-center justify-end">
    <div class="w-12 h-12">
      <app-button class="w-full h-full" [label]="'+'" (clicked)="addToTable()"></app-button>
    </div>
  </div>

  <div *ngIf="!isReadOnly && selectedRow != null" class="flex items-center justify-end">
    <div class="w-20 h-12">
      <app-button class="w-full h-full" [label]="'Actualizar'" (clicked)="updateRow()"></app-button>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-4">
    <div class="space-y-2 col-span-6">
      <label class="field-title">Servicio</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-11">
          <app-dropdown
            class="w-full block"
            [options]="services"
            [placeholder]="'Servicio'"
            [readonly]="isReadOnly"
            [selectedLabel]="selectedService"
            (selectionChange)="onServiceChange($event)"
          ></app-dropdown>
        </div>
        <div class="col-span-1 h-full">
          <app-button class="w-full h-full" [label]="'+'" (clicked)="openServiceModal()" [readonly]="isReadOnly"></app-button>
          <app-service-modal [(isOpen)]="isServiceModalOpen" (emitDataSelected)="serviceModalData($event)"></app-service-modal>
        </div>
      </div>
    </div>

    <div class="space-y-2 col-span-6">
      <label class="field-title">Lugar</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-11">
          <app-dropdown
            class="w-full block"
            [options]="locations"
            [placeholder]="'Lugar'"
            [readonly]="isReadOnly"
            [selectedLabel]="selectedLocation"
            (selectionChange)="onLocationChange($event)"
          ></app-dropdown>
        </div>
        <div class="col-span-1 h-full">
          <app-button class="w-full h-full" [label]="'+'" (clicked)="openLocationModal()" [readonly]="isReadOnly"></app-button>
          <app-location-modal [(isOpen)]="isLocationModalOpen" (emitDataSelected)="locationModalData($event)"></app-location-modal>
        </div>
      </div>
    </div>

    <div class="space-y-2 col-span-6">
      <label class="field-title">Cantidad</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-12">
          <app-input-field
            [placeholder]="'Cantidad'"
            [readonly]="isReadOnly"
            [regexExp]="quantityRegex"
            (valueChange)="onQuantityChange($event)"
            [value]="quantity"
          ></app-input-field>
        </div>
      </div>
    </div>

    <div class="space-y-2 col-span-6">
      <label class="field-title">Fecha</label>
      <div class="grid grid-cols-12 gap-2 items-center">
        <div class="col-span-12">
          <app-calendar [selectedDate]="selectedDate" [readonly]="isReadOnly"></app-calendar>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mode == 'create'" class="w-full mx-auto px-4 mt-4">
    <div class="w-full justify-center">
      <app-table
        class="w-full"
        [data]="tableData"
        [columns]="tableColumns"
        [showActions]="true"
        [actions]="{ view: false, edit: true, delete: true }"
        (edit)="onEditService($event)"
        (delete)="onDeleteService($event)"
      ></app-table>
    </div>
  </div>

  <div *ngIf="!isReadOnly" class="flex h-48 items-center justify-center">
    <div class="w-3xs h-10">
      <app-button class="w-full h-full" [label]="'Guardar'" (clicked)="saveConsumption()"></app-button>
    </div>
  </div>
</div>
